@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Slide in intro effect */
.animate-slide-intro {
  transform: translate(0, -100%);
  animation: slideIntro 1.5s 1 ease-in-out;
  -webkit-animation: slideIntro 1.5s 1 ease-in-out;
  -moz-animation: slideIntro 1.5s 1 ease-in-out;
  -o-animation: slideIntro 1.5s 1 ease-in-out;
  -ms-animation: slideIntro 1.5s 1 ease-in-out;
}

/* Pulsing stroke effect */
.animate-text-outline-emerald {
  animation: pulse 7s infinite ease-in-out;
  color: #1f1f1f;
  -webkit-text-stroke-width: 5px;
  -webkit-animation: pulse 7s infinite ease-in-out;
  -moz-animation: pulse 7s infinite ease-in-out;
  -o-animation: pulse 7s infinite ease-in-out;
  -ms-animation: pulse 7s infinite ease-in-out;
}

.text-outline-dark {
  color: #1f1f1f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #393939;
}

.outline-emerald {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #10b981;
}

.background-gradient {
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

/* 1.35 second delay */
.fade-in-delay {
  animation: fadeInDelay ease 2.7s;
  -webkit-animation: fadeInDelay ease 2.7s;
  -moz-animation: fadeInDelay ease 2.7s;
  -o-animation: fadeInDelay ease 2.7s;
  -ms-animation: fadeInDelay ease 2.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-text-stroke-color: #393939;
    opacity: 0.9;
  }
  50% {
    -webkit-text-stroke-color: #10b981;
    opacity: 1;
  }
  100% {
    -webkit-text-stroke-color: #393939;
    opacity: 0.9;
  }
}

@keyframes slideIntro {
  0% {
    transform: translate(0, 0%);
  }
  10% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
