@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

/* Pulsing stroke effect */
.text-outline-emerald {
  animation: pulse 5s infinite ease-in-out;
  color: #1f1f1f;
  -webkit-text-stroke-color: #10b981;
  -webkit-text-stroke-width: 5px;
  -webkit-animation: pulse 5s infinite ease-in-out;
  -moz-animation: pulse 5s infinite ease-in-out;
  -o-animation: pulse 5s infinite ease-in-out;
  -ms-animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    -webkit-text-stroke-color: #10b981;
  }
  50% {
    -webkit-text-stroke-color: #047857;
  }
  100% {
    -webkit-text-stroke-color: #10b981;
  }
}

.stripes-dark-45 {
  background: repeating-linear-gradient(
    45deg,
    #212121 0px,
    #212121 30px,
    #1f1f1f 30px,
    #1f1f1f 270px
  );
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
